/*                                 -Order of css goes from "display settings"--width/height--padding--border--margins--text--color--anything else-*/

/*Too make the scrollbars go away*/
html{
  overflow: scroll;
  cursor: url(images/cursor.png), auto;        /*<--for the mouse design*/
}                                 /*<--Too make the scrollbars go away*/

::-webkit-scrollbar{
  width: 0;
  height: 0;
}
/*^*/

/*Font Section*/

p, h1, h2, h3, a {
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/*^*/

/*To quickly center items*/

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flexdown{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
/*^*/

/*Warning page*/

.warningmain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

.warningbox {
  padding: 10px;
  font-size: 200%;
  background-color: gainsboro;
}

.warningtitle {
  display: flex;
  justify-content: center;
}
/*^*/

/*Intro page*/

.intromain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

.Welcomemessage{
  padding: 4px;
  border: 4px gray dashed;
  font-size: 150%;
  background-color: gainsboro;
}
/*^*/

/*Main page*/

/*-for drop down menu-*/

.dropdown {
  display: grid;
  place-items: center;
}

.dropdown-content {
  overflow-y: scroll;
  display: none;
  position: absolute;
  max-height: 200px;
  max-width: 180px;
  min-width: 160px;
  padding: 3px;
  margin-top: 210px;
  margin-left: 400px;
  text-align: center;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
/*-^-*/

.First {
  place-items: center;
}

.Second {
  display: flex;
  font-size: 150%;
}

.News{
  overflow-y: scroll;
  width: 750px;
  height: 350px;
  padding: 5px;
  border: 4px;
  border-style: solid;
  text-align: center;
  background-color: lightskyblue;
}

.Buttons{
  width: 160px;
  height: 350px;
  padding: 5px;
  border: 4px;
  border-style: solid;
  background-color: lightskyblue;
}
/*^*/

/*about that canadian pages*/

/*-Main About page title-*/

.Aboutmain {
  display: flex;
  justify-content: center;
}

.Aboutitle {
  place-items: center;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 300%;
}
/*-^-*/

/*-Info section-*/

.infomation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 400px;
}

.mainme {
  min-width: 400px;
  padding: 8px;
  border: 4px solid;
  background-color: lightskyblue;
  font-size: 150%;
}

.sectionlist {
  max-width: 400px;
  padding: 8px;
  border: 4px solid;
  background-color: lightskyblue;
  font-size: 200%;
}

.ldis {
  min-width: 400px;
  padding: 8px;
  height: 200px;
  border: 4px solid;
  background-color: lightskyblue;
}
/*-^-*/

/*-about me page-*/

.aboutme {
  max-width: 800px;
  padding: 15px;
  border: 4px solid;
  margin: auto;
  text-align: center;
  font-size: 150%;
  background-color: lightskyblue;
}
/*-^-*/

/*-PFP page-*/

.Story{
  padding: 5px;
  border-style: dashed;
  font-size: 150%;
  background-color: teal;
}

.showingwhy{
  position: absolute;
  height: 115px;
  border: 5px red;
  text-align: center;
}

.devil{
  display: none;
  position: absolute;
  width: 150px;
  height: 115px;
  border: 5px red solid;
}
/*-^-*/

/*PFP page*/

/*-Each picture representing each Alias-*/

.Kreeperk{
  display: flex;
  text-align: center;
  align-items: center;
  background-image: url(images/Wiiu.webp);
}

.ImanCanadian{
  display: flex;
  text-align: center;
  align-items: center;
  background-image: url(images/NewWorld.webp);
}

.ImaCanadian{
  display: flex;
  text-align: center;
  align-items: center;
  background-image: url(images/EnglishDic.webp);
}
/*-^-*/

.textline{
  max-width: 150px;
  height: 700px;
  padding: 5px;
  border: 3px dotted;
  margin-right: auto;
  background-color: lightskyblue;
}
/*^*/

/*Links main page*/

/*-Link trees loctions-*/

.linksofme{
  position: absolute;
  width: 800px;
  height: 800px;
  margin-top: 3000px;
  margin-left: 630px;
}

.favoriteweb{
  position: absolute;
  width: 800px;
  height: 800px;
  border: 20px;
  margin-top: 2500px;
  margin-left: 3000px;
}

.Resources{
  position: absolute;
  width: 800px;
  height: 800px;
  border: 20px;
  margin-top: 3200px;
  margin-left: 5300px;
}

.Randomshit{
  position: absolute;
  width: 800px;
  height: 800px;
  border: 20px;
  margin-top: 3000px;
  margin-left: 8000px;
}
/*-^-*/

/*-Link branchs-*/
.closeupbranch{
  position: absolute;
  display: none;
  width: 300px;
  height: 150px;
  padding-top: 25px;
  border: 10px black solid;
  margin-top: 700px;
  margin-left: 300px;
  font-size: 200%;
  text-decoration-color: rgb(255, 228, 195);
  background-image: url(images/tree-bark-750-mm-architextures.webp);
}

.mainlinks{
  position: absolute;
  margin-top: 700px;
  margin-left: 300px;
  font-size: 500%;
  transform: rotate(10deg);
}
.Artlinks{
  position: absolute;
  margin-top: 500px;
  margin-left: 520px;
  font-size: 300%;
  transform: rotate(30deg);
}
.Worklinks{
  position: absolute;
  margin-top: 460px;
  margin-left: 790px;
  font-size: 100%;
  transform: rotate(20deg);
}
.Gamelinks{
  position: absolute;
  margin-top: 530px;
  margin-left: 1090px;
  font-size: 300%;
  transform: rotate(-20deg);
}
.Otherlinks{
  position: absolute;
  margin-top: 880px;
  margin-left: 1290px;
  font-size: 200%;
}
/*-^-*/

/*News page*/
.NewsSection{
  width: 750px;
  height: 500px;
  border: 10px double;
}

.NewsArchive{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 371px;
  height: 400px;
  border: 7px double;
}

.scroll{
  overflow-y: scroll;
  width: 175px;
  height: 400px;
}

.oldnewsblock{
  width: 150px;
  height: 115px;
  padding: 5px;
  border-style: solid;
  background-color: white;
}

.OpenedNews{
  position: absolute;
  display: none;
  width: 1000px;
  height: 750px;
  padding: 10px;
  border: 10px solid;
  background-color: white;
}
/*^*/

/*Project pages*/
/*-Main Project page-*/
.ProMain{
  background-color: rgb(255, 229, 180);
  width: 750px;
  padding: 10px;
  border: 10px;
  border-style: solid groove solid groove;
  border-radius: 5vh;
}
/*-^-*/

/*-Website bts page-*/
.sitemap{
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: hsl(184, 100%, 46%);
  width: 1880px;
  height: 200px;
  margin-bottom: -8px;
  padding: 20px;
  border: 6px hsl(184, 100%, 64%);
  border-style: groove none none none;
}

.siteboxes{
  width: 200px;
  border: 7px greenyellow groove;
  background-color: aquamarine;
  border-radius: 8px;
}

.boxxxx{
  display: flex;
  justify-content: center;
  width: 500px;
  height: 500px;
  border: 7px double;
  background-color: rgb(59, 167, 255);
}

.croll{
  overflow-y: scroll;
  width: 800px;
  height: 500px;
}
/*-^-*/

/*-S.T.F.U project page-*/
.wholething{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(images/1000001762.webp);
  width: 250px;
  height: 375px;
  margin-top: 5000px;
  background-color: azure;
  border-radius: 2px;
}
/*-^-*/
/*^*/

/*Artistic Pages*/

/*-Photo Gallery-*/

.PhotoRegion{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
  width: inherit;
  height: 1380px;
  padding: 20px;
}

/*-^-*/
/*^*/
