/*                                                        -Order of css goes from width/height--padding--border--margins--text--anything else-*/

/*Too make the scrollbars go away*/
html{
  overflow: scroll;
  cursor: url(images/cursor.png), auto;        /*<--for the mouse design*/
}                                 /*<--Too make the scrollbars go away*/

::-webkit-scrollbar{
  width: 0;
  height: 0;
}
/*^*/

/*Font Section*/
p, h1, h2, h3, a {
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/*^*/

/*To quickly center items*/
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flexdown{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
/*^*/

/*Warning page*/
.warningmain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

.warningtitle {
  display: flex;
  justify-content: center;
}

.warningbox {
  padding: 10px;
  text-align: center;
  font-size: 200%;
  background-color: gainsboro;
}
/*^*/

/*Intro page*/
.intromain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

.Welcomemessage{
  min-height: 300px;
  padding: 10px;
  border: 4px;
  border-style: dashed;
  border-color: gray;
  text-align: center;
  font-size: 200%;
  background-color: gainsboro;
}
/*^*/

/*Main page*/
/*-for drop down menu-*/
.dropdown {
  display: grid;
  place-items: center;
}

.dropdown-content {
  overflow-y: scroll;
  display: none;
  position: absolute;
  max-height: 200px;
  max-width: 180px;
  min-width: 160px;
  padding: 3px;
  margin-top: 210px;
  margin-left: 400px;
  text-align: center;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
/*-^-*/
.First {
  place-items: center;
}

.mapleleaf1 {
  height: 50px;
  width: 50px;
}

.mapleleaf2 {
  height: 50px;
  width: 50px;
  margin-left: 94%;
}

.Second {
  display: flex;
  justify-content: center;
  font-size: 150%;
}

.News{
  overflow-y: scroll;
  width: 750px;
  height: 350px;
  padding: 5px;
  border: 4px;
  border-style: solid;
  text-align: center;
  background-color: lightskyblue;
}

.Buttons{
  width: 160px;
  height: 350px;
  padding: 5px;
  border: 4px;
  border-style: solid;
  background-color: lightskyblue;
}
/*^*/

/*about that canadian pages*/
.Aboutmain {
  display: flex;
  justify-content: center;
}

.Aboutitle {
  place-items: center;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 500%;
}
/*-Info section-*/
.infomation {
  background-color: lightskyblue;
  width: 400px;
}

.mainme {
  height: 350px;
  padding-left: 20px;
  border: 4px;
  border-style: solid;
  font-size: 150%;
}

.sectionlist {
  height: 600px;
  padding-top: 50px;
  border: 4px;
  border-style: solid;
  text-align: center;
  font-size: 200%;
}

.ldis {
  height: 200px;
  border: 4px;
  border-style: solid;
  text-align: center;
}
/*-^-*/

/*-about me page-*/
.aboutme {
  max-width: 800px;
  padding: 15px;
  border: 4px;
  border-style: solid;
  margin: auto;
  text-align: center;
  font-size: 150%;
  background-color: lightskyblue;
}
/*-^-*/

/*-PFP page-*/
.beesection{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Story{
  padding: 5px;
  border-style: dashed;
  font-size: 150%;
  background-color: teal;
}

.showingwhy1{
  position: absolute;
  width: 150px;
  height: 115px;
  border: 5px;
  border-color: red;
  margin-top: 280px;
  margin-left: 435px;
  text-align: center;
}

.showingwhy2{
  position: absolute;
  width: 100px;
  height: 115px;
  border: 5px;
  border-color: red;
  margin-top: 280px;
  margin-left: 540px;
  text-align: center;
}

.devil{
  position: absolute;
  width: 150px;
  height: 115px;
  margin-top: 280px;
  margin-left: 435px;
  border: 5px;
  border-style: solid;
  border-color: red;
}

.boobies{
  position: absolute;
  width: 100px;
  height: 115px;
  margin-top: 280px;
  margin-left: 535px;
  border: 5px;
  border-style: solid;
  border-color: red;
}

.other{
  flex-direction: row;
}

.imageandstory{
  overflow-y: scroll;
  width: 750px;
  height: 350px;
  padding: 5px;
  border: 4px;
  border-style: solid;
  text-align: center;
  background-color: lightskyblue;
}
/*-^-*/

.Kreeperk{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(images/Wiiu.webp);
}

.ImanCanadian{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(images/NewWorld.webp);
}

.ImaCanadian{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(images/EnglishDic.webp);
}

.textline{
  max-width: 150px;
  height: 700px;
  padding: 5px;
  border: 4px;
  border-style: solid;
  margin-right: auto;
  background-color: lightskyblue;
}
/**/

.linkmain{
  background-image: url(images\Linkspage.webp);
}

.linksofme{
  position: absolute;
  width: 800px;
  height: 800px;
  margin-top: 3000px;
  margin-left: 630px;
}

.mainlinks{
  position: absolute;
  margin-top: 700px;
  margin-left: 300px;
  font-size: 500%;
  transform: rotate(10deg);
}

.closeupbranch{
  position: absolute;
  display: none;
  width: 300px;
  height: 150px;
  padding-top: 25px;
  border: 10px black solid;
  margin-top: 700px;
  margin-left: 300px;
  font-size: 200%;
  text-decoration-color: rgb(255, 228, 195);
  background-image: url(images/tree-bark-750-mm-architextures.webp);
}

.Artlinks{
  position: absolute;
  margin-top: 500px;
  margin-left: 520px;
  font-size: 300%;
  transform: rotate(30deg);
}
.Worklinks{
  position: absolute;
  margin-top: 460px;
  margin-left: 790px;
  font-size: 100%;
  transform: rotate(20deg);
}
.Gamelinks{
  position: absolute;
  margin-top: 530px;
  margin-left: 1090px;
  font-size: 300%;
  transform: rotate(-20deg);
}
.Otherlinks{
  position: absolute;
  margin-top: 880px;
  margin-left: 1290px;
  font-size: 200%;
}

.favoriteweb{
  position: absolute;
  width: 800px;
  height: 800px;
  border: 20px;
  margin-top: 2500px;
  margin-left: 3000px;
}

.Resources{
  position: absolute;
  width: 800px;
  height: 800px;
  border: 20px;
  margin-top: 3200px;
  margin-left: 5300px;
}

.Randomshit{
  position: absolute;
  width: 800px;
  height: 800px;
  border: 20px;
  margin-top: 3000px;
  margin-left: 8000px;
}

/*News page*/
.webnews{
  width: 750px;
  height: 500px;
  border: 10px;
  border-style: double;
  background-color: aqua;
}

.elsenews{
  width: 750px;
  height: 500px;
  border: 10px;
  border-style: double;
  background-color: chartreuse;
}

.webarchive{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 400px;
  border: 7px;
  border-style: double;
  background-color: rgb(59, 167, 255);
}

.elsearchive{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 400px;
  border: 7px;
  border-style: double;
  background-color: rgb(34, 230, 34);
}

.scroll{
  overflow-y: scroll;
  width: 175px;
  height: 400px;
}

.oldnewsblock{
  width: 150px;
  height: 115px;
  padding: 5px;
  border-style: solid;
  background-color: white;
}

.lololol{
  position: absolute;
  display: none;
  width: 1000px;
  height: 750px;
  padding: 10px;
  border: 10px;
  margin-bottom: 125px;
  border-style: solid;
  background-color: white;
}
/*^*/